*{
    margin: 0;
}
.clr{
    clear: both;
}
#home{


    background-image: url(../home.jpg);
    background-size: 100% 100%;
    height: 100vh;
}


#home .caption{
    
    text-align: center;
    padding-top: 100px;
    color: white;
}
#home .caption  p{
    margin: 10px 0;
}
#home .caption .btnl , #home .caption .btn2 {
   padding: 10px 16px;
   border: none;
 
}
#home .caption .btnl{
    background-color: #cfb377;
}
#home .caption .btn2{
    background-color: #fff;
   }
   


#about{
    background-color: black;
}
#about .about-imag{
    background-color: azure;
    width: 40%;
    float: left;
}
#about .about-imag imag{
    width: 100%;
     
}
#about .about-info{
    width: 60%;
    float: left;
    text-align: center;
    padding-top: 90px;
}
#about .about-info h2{
    font-size: 50px;
}
#about .about-info p{
    padding:  20px;
    line-height: 32px;
}
#about .about-info button{
    padding: 14px 20px;
    background-color: transparent ;
    border:3px solid black ;
}
.light-box{
  background-image: url(../bg-home.jpg);
  background-attachment: fixed;
   height: 500px;
}
#meals{
 
    padding: 50px 0;
}
#meals .meal{
    width: 25%;
    float: left;
    text-align: center;
    
}
#meals .meal .brdr{
    height: 3px;
    width: 100px  ;
    margin: 15px auto;
    background-color: aqua;

}
#meals .meal img{
    border-radius: 50%;
    width: 200px;
    padding-bottom: 20px;
}
#meals .meal p{
   padding: 5px 30px;
}

.navbar{
    
   
}
.navbar img{
    width: 100px;
    float: left;
}
.navbar ul{
    float: right;
    list-style: none;
}
.navbar ul li {
    display: inline-block;
    padding: 50px;
}
.navbar ul a{
    color: #e0dede;
    text-decoration: none;
    
}


